# Gradle
.gradle/
build/
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
.externalNativeBuild/
.cxx/

# Generated
app/build/
app/build/kspCaches/
app/build/generated/
app/build/intermediates/
app/build/tmp/
app/build/outputs/apk/*/
!app/build/outputs/apk/debug/

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
